/* -------------------------- */
/* HEADER */
/* -------------------------- */

.header {
  padding: 3rem 0;
  background-color: #fff;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo:link,
.main-logo:visited {
  width: 22rem;
  height: 6rem;
  background-color: #e9e9e9;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN NAVIGATION */

.main-nav-list {
  display: flex;
  align-items: center;
}

.main-nav-link {
  padding: 0 2.5rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.main-nav-link:link svg,
.main-nav-link:visited svg {
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:hover svg,
.main-nav-link:active svg {
  color: #ecb235;
  stroke: #ecb235;
}

.link--products:link,
.link--products:visited {
  display: flex;
  align-items: center;
}

/* NAVIGATION - SEARCH */

.nav-search {
  padding: 0 1rem;
  border-bottom: 2px solid #8e8e8e;
}

.form-search {
  display: flex;
  align-items: center;
}

.btn--search svg {
  transition: all 0.3s;
}

.btn--search:hover svg {
  stroke: #ecb235;
}

.input-search {
  padding: 1rem;
  border: none;
  outline: none;

  font-family: inherit;
}

.input-search::placeholder {
  color: #8e8e8e;
}

/* NAVIGATION - CONTROLS */

.nav-controls-list {
  display: flex;
  align-items: center;
}

.nav-controls-link {
  padding: 0 1.7rem;
}

.nav-controls-link:link,
.nav-controls-link:visited,
.nav-controls-link:link svg,
.nav-controls-link:visited svg {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  transition: all 0.3s;
}

.nav-controls-link:hover,
.nav-controls-link:active,
.nav-controls-link:hover svg,
.nav-controls-link:active svg {
  color: #ecb235;
  stroke: #ecb235;
}

.link--profile:link,
.link--profile:visited {
  padding-right: 0;
}

.cart-number {
  width: 2rem;
  height: 2rem;

  border: 1px solid currentColor;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------------- */
/* SECTION - HERO */
/* -------------------------- */

.hero-background {
  background-image: url("../assets/img-figma/Hero.png");
  background-size: cover;
  background-position: center;
  padding: 33rem 0;

  position: relative;
}

.hero-container {
  padding: 0 3.5rem;
  max-width: 62rem;
  margin: 0 auto;
  text-align: center;

  color: #fff;
}

.hero-subheading {
  font-size: 1.8rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

.heading-primary {
  margin-bottom: 6.8rem;
}

/* BUTTONS - DOTS */

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -11rem);

  display: flex;
  gap: 1.6rem;
  z-index: 1;
}

.dot {
  height: 1rem;
  width: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.dot--fill {
  background-color: #fff;
}

/* SCROLL */

.scroll-line {
  width: 1px;
  height: 18rem;
  background-color: #fff;
  color: #fff;

  position: relative;
}

.scroll-text {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -6rem) rotate(-90deg);
}

.hero-scroll {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

/* -------------------------- */
/* SECTION - BUY */
/* -------------------------- */

.section-buy {
  padding: 5rem 0;
  background-color: #fff;
}

.buy-cards {
  column-gap: 2rem;
}

.buy-card {
  padding: 19rem 2.5rem 5.5rem;
  text-align: center;

  background-size: cover;
  background-position: center;
}

.buy-card--1 {
  background-image: url("../assets/img-figma/card1.png");
}

.buy-card--2 {
  background-image: url("../assets/img-figma/card2.png");
}

.buy-card--3 {
  background-image: url("../assets/img-figma/card3.png");
}

.buy-card-heading {
  font-weight: 700;
  margin-bottom: 8.5rem;
}

/* -------------------------- */
/* SECTION - OFFER */
/* -------------------------- */

.section-offer {
  padding: 8rem 0 0;

  position: relative;
}

.section-offer::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #131313;
  top: 0;
  width: 100%;
  height: 80%;
  z-index: -999;
}

.offer-heading {
  font-weight: 500;
  text-align: center;

  margin-bottom: 6rem;
}

.offer-cards {
  position: relative;
}

.offer-link:link,
.offer-link:visited {
  transition: all 0.5s ease;
}

.offer-link:hover,
.offer-link:active {
  transform: translateY(-2rem);
}

/* OFFER CARDS */

.offer-card {
  position: relative;
}

.offer-card-img {
  width: 100%;
  display: block;
}

.offer-card-title {
  color: #fff;
  width: 100%;
  padding: 0 2rem;

  position: absolute;
  bottom: 11rem;
}

.offer-card-title p {
  margin-bottom: 0.6rem;
}

.offer-card-title h3 {
  font-size: 3.6rem;
  font-weight: 500;
}

/* -------------------------- */
/* SECTION - PRODUCT */
/* -------------------------- */

/* PRODUCT NAVIGATION */

.section-product {
  padding: 9rem 0;
}

.product-categories {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;

  margin-bottom: 8rem;
}

.category a {
  font-size: 1.6rem;
  color: #c4c4c4;
}

.category.category-open a {
  font-size: 2.4rem;
  color: #000;
}

/* PRODUCT CARDS */

.product-cards {
  column-gap: 2rem;
}

.product-card {
  position: relative;
}

.product-link:link,
.product-link:visited {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.product-link:hover,
.product-link:active {
  border: 1px solid #c4c4c4;
}

.product-banner {
  max-height: 38rem;
  overflow: hidden;
}

.product-img {
  width: 100%;
}

.product-tags {
  position: absolute;
  top: 3rem;
  right: 0;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.tag {
  font-size: 1.8rem;
  text-align: center;

  padding: 0.5rem 2rem;

  color: #fff;
}

.tag--new {
  background-color: #63da46;
}

.tag--sale {
  background-color: #f24d4d;
}

.product-info {
  padding: 2.5rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1.5rem;
}

.product-heading,
.product-price {
  font-size: 1.8rem;
}

.availability-in-stock {
  color: #63da46;
}
.availability-to-order {
  color: #c4c4c4;
}
.availability-unavailable {
  color: #f24d4d;
}

/* -------------------------- */
/* SECTION - BLOG */
/* -------------------------- */

.section-blog {
  padding: 8rem 0rem 12rem;
  background-color: #131313;
}

.blog-heading {
  font-weight: 500;
  text-align: center;

  margin-bottom: 6rem;
}

/* BLOG POSTS */

.blog-list,
.blog-post {
  position: relative;
}

.blog-post--5 {
  grid-column: 2/ -1;
}

.blog-article-link {
  display: block;
}

.blog-post-img {
  width: 100%;
  display: block;
}

.blog-post-content {
  margin: 0 4rem 3rem;

  position: absolute;
  bottom: 0;
}

.blog-post-date {
  margin-bottom: 0.6rem;
  color: #fff;

  display: inline-block;
}

.blog-post-heading {
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fff;
}

.blog-post-data {
  color: #fff;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.blog-heading-link {
  color: inherit;
}

.blog-data-link:link,
.blog-data-link:visited,
.blog-data-link:link svg,
.blog-data-link:visited svg {
  color: inherit;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  transition: all 0.3s;
}

.blog-data-link:hover,
.blog-data-link:active,
.blog-data-link:hover svg,
.blog-data-link:active svg {
  color: #ecb235;
  stroke: #ecb235;
}

/* -------------------------- */
/* SECTION - FEATURE */
/* -------------------------- */

.section-feature {
  padding: 14.6rem 0;
  background-color: #fff;
}

.feature {
  padding: 3rem 6rem;
  border-left: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
}

.feature:first-child {
  border-left: none;
  padding-left: 0;
}

.feature:last-child {
  padding-right: 0;
}

.feature svg {
  flex-shrink: 0;
}

.feature-text {
  font-size: 1.8rem;
  margin-left: 2rem;
}

/* -------------------------- */
/* SECTION - CTA */
/* -------------------------- */

.section-cta {
  padding: 8rem 0;
  background-color: #ecb235;
  overflow: hidden;
}

.cta-container {
  padding: 0 2rem;
  max-width: 82rem;
  margin: 0 auto;
  text-align: center;

  position: relative;
}

.cta-heading {
  margin-bottom: 6.4rem;
  font-weight: 500;
}

.form-cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.input-email {
  padding: 0 5rem;
  border: none;
  outline: none;
  z-index: 1;

  flex-grow: 1;
  align-self: stretch;

  font-family: inherit;
  font-size: 1.8rem;
}

.input-email::placeholder {
  color: #8e8e8e;
}

.cta-message-circle {
  position: absolute;
  top: -8rem;
  left: 0;
  transform: translate(-12rem, -12rem);
}

/* -------------------------- */
/* FOOTER */
/* -------------------------- */

.footer {
  padding: 8rem 0;
  background-color: #131313;
  color: #fff;

  font-size: 1.8rem;
}

/* LOGO */

.footer-logo:link,
.footer-logo:visited {
  width: 22rem;
  height: 6rem;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER CONTAINER */

.footer-container {
  margin: 9rem 0 14rem;
  column-gap: 5rem;
}

.contact-col {
  justify-self: end;
  margin-left: 20rem;
}

.footer-heading {
  font-weight: 700;
  margin-bottom: 4rem;
}

.footer-nav,
.contact-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-link:link,
.footer-link:visited,
.footer-link:link svg,
.footer-link:visited svg {
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active,
.footer-link:hover svg,
.footer-link:active svg {
  color: #ecb235;
  stroke: #ecb235;
}

.social-line,
.contact-line:link,
.contact-line:visited {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* FOOTER END */

.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-creator {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
